.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page .bound {
    max-width: 100%;
    padding: 0px 2%;
}
.form-sec {
    display: flex;
}
.left-form {
    width: 30%;
}
.form-box {background: rgba(244, 244, 244, 0.5);padding: 2rem 1rem 2rem 2rem;border-radius: 2rem;}
.custom-form label {font-weight: 600; font-size: 1rem; margin-bottom: 10px;}
.login-img {
    width: 70%;
    text-align: center;
}
.login-img img {max-width: 500px;}