.loginCss{
    background-color: red;
}
.login-page {
    background: url(../../../public/images/bg-01.jpg);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .login-box {width: 100%; max-width: 500px; background: #fff;border-radius: 10px;overflow: hidden;padding: 3.438rem;} */
.login-box p.text-muted {font-size: 1rem;font-weight: 500;}
.btn-row .forgot-pass {color: #3B82F6;}
.loading { display: flex; align-items: center; justify-content: center;
    height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(244, 244, 244, 0.8);}
.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 5px solid #00bcd4;
    border-right: 5px solid #f44336;
    border-bottom: 5px solid #ffeb3b;
    border-left: 5px solid #4caf50;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Google Font Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/* body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3B82F6;
  padding: 30px;
} */
.login-box{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.login-box .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.login-box #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .login-box .cover .front,
 .login-box .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.login-box .cover::before,
.login-box .cover::after{content: '';position: absolute;height: 100%;width: 100%;background: #7d2ae8;opacity: 0.5;z-index: 12;}
.login-box .cover::after{opacity: 0.3;transform: rotateY(180deg);backface-visibility: hidden;}
.login-box .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.login-box .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.login-box .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.login-box .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #3B82F6;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input{height: 100%;width: 100%;outline: none;border: none;padding: 0 1.875rem;font-size: 1rem;font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;}
.form-content .input-box input:focus,
 .form-content .input-box input:valid{border-color: #3B82F6;}
.form-content .input-box i{position: absolute; color: #3B82F6; font-size: 1.063rem;font-family: "Font Awesome 5 Free" !important;}
.forms .form-content .text{font-size: 0.875rem;font-weight: 500;color: #333;}
.forms .form-content .text a{text-decoration: none;color: #3B82F6; }
.forms .form-content .text a:hover{text-decoration: underline;color: #ff8400;}
.forms .form-content .button{color: #fff;margin-top: 2.5rem;}
.forms .form-content .button input{color: #fff;background: #3B82F6;border-radius: 6px;padding: 0;cursor: pointer;transition: all 0.4s ease;}
.forms .form-content .button input:hover{background: #ff8400;}
.forms .form-content .button .btn {width: 100%;}
.forms .form-content label{color: #5b13b9;cursor: pointer;}
.forms .form-content label:hover{text-decoration: underline;}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{text-align: center;margin-top: 1.563rem;}
.login-box #flip:checked ~ .cover .text {transform: rotateY(-180deg);}
.login-box #flip:checked ~ .cover .front {display: none;}
.login-box #flip:checked ~ .cover .back {transform: unset;backface-visibility: unset;}
.login-box #flip{display: none;}

span.show-pass {position: absolute;right: 0px;font-size: 1.2rem;color: #aaa;}
@media (max-width: 730px) {
  .login-box .cover{display: none;}
  .form-content .login-form,.form-content .signup-form{width: 100%;}
  .form-content .signup-form{display: none;}
  .login-box #flip:checked ~ .forms .signup-form{display: block;}
  .login-box #flip:checked ~ .forms .login-form{display: none;}
}
